body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #f9faff;
  background-repeat: no-repeat;
}


/* 
@media screen and (max-width: 677px) {
  .card {
      width: 100%;
      margin: auto
  }

  .btn-pink {
      width: 100%;
      height: 40px;
      padding: 6px 30px
  }

  .prod-bg {
      width: 33%;
      height: 110px;
      background-color: #E0E0E0
  }

  .more {
      width: 66%
  }
} */
